---
import {Button} from '@translated/babele-react'
import mmtFooter from '../assets/images/logos/mt_footer.svg'
import Link from '../components/Link.astro'
interface Props {
  title: string
}

const {title} = Astro.props
import Header from '../components/Header.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="ModernMT website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body data-theme="translated-light" class="bg-neutral-50 overflow-x-hidden">
    <Header tone="primary" />
    <slot />
    <footer class="flex flex-col gap-16">
      <div
        class:list={[
          'bg-primary-800 px-4 py-4 max-w-[1400px] mx-auto w-[86%] rounded-sm flex flex-col items-center justify-between gap-2',
          'lg:flex-row lg:px-[88px] lg:py-[52px]',
        ]}
      >
        <h2 class="text-neutral-25 text-[1.8rem] font-bold text-center">
          Ready to translate?
        </h2>
        <Button
          variant={{tone: 'primary', mode: 'solid', size: 'xl'}}
          className="border-primary-800"
        >
          Start your free month trial
        </Button>
      </div>
      <section
        class:list={[
          'max-w-[1400px] mx-auto w-[86%] grid gap-8 items-center',
          'lg:grid-cols-4',
        ]}
      >
        <img
          src={mmtFooter.src}
          width="150px"
          alt="MMT logo footer"
          }
          class="lg:block hidden"
        />
        <div
          class:list={['flex flex-col gap-3 items-center', 'lg:items-start']}
        >
          <div class="font-bold">PRODUCT</div>
          <Link href="/">For enterprises</Link>
          <Link href="/translators">For enterprises</Link>
          <Link href="/pricing">Get started</Link>
        </div>

        <div
          class:list={['flex flex-col gap-3 items-center', 'lg:items-start']}
        >
          <div class="font-bold">COMPANY</div>
          <Link href="/contact-us">Contact us</Link>
          <Link href="/terms">Term and conditions</Link>
          <Link href="/privacy">Privacy policy</Link>
        </div>

        <div
          class:list={['flex flex-col gap-3 items-center', 'lg:items-start']}
        >
          <div class="font-bold">RESOURCES</div>
          <Link href="/faq">Help center</Link>
          <Link href="/api">API Documentation</Link>
          <Link href="/blog">Blog</Link>
        </div>
      </section>
      <section class="py-16 mx-auto text-neutral-700 text-sm text-center">
        © 2022 Translated S.r.l. · Via Indonesia 23, 00144 Roma (Italy) · VAT
        IT07173521001
      </section>
    </footer>
  </body>
</html>

<style is:global>
  @import '@translated/babele-tokens/assets/arsmaquettepro.css';
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
